.section_welcome {
    background: #df9d3f;
}

.block_welcome img {
    border-radius: 50%;
    width: 360px;
    height: 350px;
    object-fit: cover;
    margin: 30px 0;
}

span.hddd {
    color: black;
    font-size: 60px;
    line-height: 60px;
}

.continue {
    background: #000000;
}
.body {
    background: #bd0111b3;
}

.separator_blue {
    bbackground: #000000;
}

.separator_in {
    background: #bd0111;
}

.separator_in2 {
    background: #000000;
}

.para {color: #bd0111;}

.div-block-15 img {
    border-radius: 15px;
    width: 500px;
    height: 290px;
}
.div-block-14 {
    background: #d04c57;
}

.toke_details {
    background: #bd0111;
}

.coin_bg {
    background: #d04c57;
}

.separator_blue2 {
    background: #000000;
}

.section_how {
    background: #d04c57;
}

img.image-4 {
    filter: brightness(0);
}

.div-block-10 {
    background: #d04c57;
}

.div-block-9 {
    background: #c31826;
}

.section_community {
    background: #d04c57;
}

.join_footer {
    background: #bd0111b3;
}
.join_button {
    background: #bd0111;
}
.mainrow {
    display: flex;
    align-items: end;
    margin-right: 280px;
}

.mainrow .lefttt {
    width: 40%;
}

img.tctca {
    width: 100%;
}

img.abtslerfimg {
    width: 50%;
    margin-bottom: -200px;
    margin-top: -230px;
}
.mainrow {
    display: flex;
    align-items: end;
    margin-right: 280px;
}

.mainrow .lefttt {
    width: 40%;
}

img.tctca {
    width: 100%;
}

img.abtslerfimg {
    
    width: 50%;
    margin-bottom: -200px;
    margin-top: -230px;
}

img.slider {
    display: none;
}

.tokenomics {
    margin-bottom: -170px;
}

.separator_blue {
    background: black;
}
.tokenomics:before {
    content: url(rremovebg-preview.png);
    position: absolute;
    top: 0;
    right: -40px;
}

div#tokenomics {
    margin-bottom: 190px;
}

.mainrow {
    margin: 0 210px;
}

.mainrow .lefttt {
    width: 60%;
}

.mainrow .lefttt img {
    width: 90%;
    margin: 0 auto;
}

img.abtslerfimg {
    height: 90px;
    object-fit: cover;
    margin: 0;
}
.bannnnmain {
    display: flex;
    align-items: center;
}

.txticonn {
    display: flex;
    align-items: center;
}

.txticonn img {
    width: 20%;
}

.block_ca {
    width: 60%;
}
h2 {
    color: white;
}
.mainrow {
    margin-bottom: 100px;
}
img.slervnoimicss {
    width: 400px;
    margin: 0 auto;
    height: 100px;
    object-fit: cover;
}
.mainrow {
    flex-direction: row-reverse;
}

.mainrow .righttt {
    margin: 0 20px;
    width: 40%;
}

.block_about {
    flex-wrap: wrap;
}

.block_paragraph {
    flex-wrap: wrap;
    width: auto;
}


@media (max-width: 1600px) {
    /* img.abtslerfimg {
        margin-top: -170px;
        margin-bottom: -150px;
    } */
}

@media (max-width: 1366px) {
    .mainrow {
        margin: 0 110px;
    }
    .mainrow .lefttt {
        width: 70%;
    }
    
    .mainrow {
        margin-right: 200px;
    }
    
    div#how {
        margin-top: -200px;
    }
}


@media (max-width: 480px) {
    .mainrow {
        FLEX-DIRECTION: column;
    }
    
    .mainrow .lefttt {
        WIDTH: 100%;
    }
    
    .mainrow .righttt {
        width: 90%;
        margin:0 auto;
    }
    .toke_details {
        width: 100%;
    }
    .bannnnmain {
        margin-top: 120px;
    }
    
    .bannnnmain {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: baseline;
    }
    
    .txticonn {
        justify-content: center;
    }
    
    .block_ca {
        width: 85%;
        margin: 0 auto;
    }
    
    .txticonn img {
        width: 40%;
    }
    .tokenomics:before {
        right: 0;
        display: none;
    }
    .mainrow {
        margin: 0 auto;
    }
    
    /* img.abtslerfimg {
        margin: 0;
        width: 90%;
        margin-top: -80px;
        margin-bottom: -90px;
    } */
    
    img.booby {
        width: 100%;
        position: relative;
        top: 90px;
    }
    
    .block_logo {top: -110px;}
    
    h2 {
        color: white;
    }

}
